body {
    height: 100%;
    background: #ececec;
    margin: 0;
}

.task-management {
    position: absolute;
    align-self: stretch;
    padding: 20px;
    min-height: 100vh;
    height: 100%;
    width: 187px;
    top: 98px;
}

.addTask {
    position: sticky;
    top: 0;
}

.top-bar {
    width: 100%;
    height: fit-content;
    background-color: #cacaca;
    padding: 20px;
    box-sizing: border-box;
}

.btn-primary.second {
    top: 30px;
    left: 92%;
    width: 100px;
}

.btn-primary {
    position: absolute;
    top: 110px;
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding: 12px 17px;
    border-radius: 50px;
    background-color: #2222220d;
    color: #222;
    font-size: 16px;
    font-weight: 500;
}

.btn-primary:hover {
    background-color: #2222221a;
}

                

.data__search {
    position: absolute;
    top: 30px;
    left: 230px;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s; 
}

.data__search:focus{
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.addInput {
    position: absolute;
    top: 10px;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s; 
}

.addInput:focus{
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.addTime {
    position: absolute;
    top: 60px;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s; 
}

.addTime:focus{
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.filter-condition {
    font-family: sans-serif;
    display: inline-block;
    padding: 12px 16px;
    border-radius: 30px;
    background: grey;
}

.sortirovochka {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.sort {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 2.2em;
  margin: 2px;
  padding: 0.3em 0.6em;
  background: white;
  border: 1px solid #aaaaaa;
  border-radius: 0.3em;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: normal;
  overflow: hidden;
  text-shadow: 0 1px 0 white;
  -webkit-transition: box-shadow 200ms, border-color 200ms;
  -moz-transition: box-shadow 200ms, border-color 200ms;
  transition: box-shadow 200ms, border-color 200ms;
  white-space: nowrap; 
}

.delete__button {
    display: inline-block;
    position: relative;
}

.fa-solid {
    position: relative;
    color: white;
    left: -60px;
    bottom: 5.8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: rgb(255, 0, 0);
}

.fa-solid:hover {
    background: rgb(131, 0, 0);
    cursor: pointer;
}

.fa-regular {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
    border: none;
    color: black;
    background: white;
    cursor: pointer;
    float: right;
    bottom: 85px;
}

.fa-regular:hover { 
    cursor: pointer;
    background: rgb(209, 209, 209);
}



.timer {
    width: 255px;
    font-family: sans-serif;
    display: inline-block;
    padding: 12px 16px;
    border-radius: 30px;
    background: white;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
}

.timer__part {
    font-size: 18px;
    font-weight: bold;
    color:black;
}

.timer__btn {
    width: 35px;
    height: 35px;
    position: center;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.timer__btn:hover {
    background: #4c0586;
    cursor: pointer;
}


.timer__btn--start {
    content: 'play_arrow';
    width: 35px;
    height: 35px;
    position: center;
    background: #00b84c;
}

.timer__btn--start:hover {
    background: #007732;
}

.timer__btn--stop {
    width: 35px;
    height: 35px;
    position: center;
    background: #ff0256;
}

.timer__btn--stop:hover {
    background: #8f0030;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    margin-left: 220px;
    background-color: #dddddd;
    display: grid;
    margin-block-start: 0;
    padding: 0;
    margin-bottom: 0;
}

li {
    font-weight: bold;
    font-family: 'Courier New', monospace;
    color: white;
    background-color: grey;
    padding:20px;
    margin: 15px;
    border-radius: 5px;
}